<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <meta name="description" content="A simple responsive layout using EJS and CSS">
    <title>Home Page</title>
   <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
<%- include('navbar') %>
 <button style="margin: 20px; padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px;">
    <a href="/blogs" style="color: white; text-decoration: none;">Get Blog</a>
</button> 
    
    <div class="container">
     <% blogs.forEach((blog)=>{
        %>
        <div class="card">
          
            <img src="<%= blog.image %>" alt="Blog Image">
            <div class="card-content">
                <h3><%= blog.title %></h3>
                <p><%= blog.description %></p>
                <p><%= blog.subTitle%></p>
                <p>Author : <%= blog.user.username%></p>
                <button style="margin: 20px; padding: 10px; background-color: #1cb7cc; color: white; border: none; border-radius: 5px;">
                    <a href="/blog/<%-blog.id%>" style="color: white; text-decoration: none;">See More</a>
                </button>
            </div>
        </div>
        <%
     })%>
        
    </div>
    
    <%- include('footer') %>
</body>
</html>
